[submodule "themes/dimension"]
	path = themes/dimension
	url = https://gitlab.com/dspechnikov/dimension-hugo
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
