[submodule "themes/dimension"]
	path = themes/dimension
	url = https://gitlab.com/dspechnikov/dimension-hugo
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
